body { background: #7908bf; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 59px; display: flex; }
.block-router-0 { color: #8d7207; font-size: 16px; margin-bottom: 5px; }
.block-product-1 { color: #d2352e; font-size: 13px; margin-bottom: 5px; }
.block-metrics-2 { color: #7bf797; font-size: 14px; margin-bottom: 5px; }
.block-filter-3 { color: #2846e1; font-size: 21px; margin-bottom: 5px; }
.block-sms-4 { color: #4a8af0; font-size: 19px; margin-bottom: 5px; }
.block-filter-5 { color: #ff4284; font-size: 16px; margin-bottom: 5px; }
.block-cart-6 { color: #a9e18f; font-size: 13px; margin-bottom: 5px; }
.block-logger-7 { color: #92b639; font-size: 12px; margin-bottom: 5px; }
.block-filter-8 { color: #17aa31; font-size: 19px; margin-bottom: 5px; }